




#section-watchlist li {
	padding: 0px;
	width: 160px;
	margin: 0px 4% 4% 0px;
	text-align: center;
}

/*
TODO 2j
The "I watched it" button should fill the entire width of its container, 
and should be 10px below the neighbor element above it
*/
#section-watchlist li button {
	margin: 10px;
	width: 100%;
}


.jumbotron {
	text-align: center;
	margin-bottom: 1%;
}

.main-content {
	color: gray;
}

#section-browse {
	background: black;	
}

#section-browse form {
	margin-bottom: 2%;
}

hr {
	border-color: rgba(128,128,128,0.2);
}

section header {
	margin-bottom: 10px;
}

section {
	padding: 2%;
}

