<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name=viewport content="width=device-width, initial-scale=1">

  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css" />

  <title>Dan's FlickList</title>
</head>
<body>
  <div id="mount-target">
    <header class="jumbotron">
    
      <h1>FlickList</h1>
      <p class = "text-muted">Keep a list of all the movies you've been meaning to watch.</p>
    </header>

    <div class="container-fluid main-content">
      <div class= "row">
    
        <section class= "col-md-5" id="section-watchlist">
          <header>
            <h2>My Watchlist</h2>
            <hr/>
          </header>

        <ul class ="list-inline">
          <li
            v-for="movie in watchlistItems"
            class="panel panel-default"
          >
            <div class="panel-heading">
              <p>{{ movie.title }}</p>
            </div>
            <div class="panel-body">
              <img class="img-responsive" :src="posterUrl(movie)"/>
              <button class = "btn btn-danger" @click = "removeFromWatchlist(movie)">I watched it!</button>
            </div>
          </li>
        </ul>
      </section>
      
      <section class="col-md-7" id="section-browse">
        <header>
          <h2>Browse Movies</h2>

          <!--
          TODO 2e
          Style this form and its inputs to look like the demo.
          Use the following classes (google them and find some examples):
          "input-group", "form-control", "input-group-btn", "btn", "btn-primary"
          -->
          <form id="form-search">
            <div class="input-group">
              <input class="form-control" type="text" v-model="searchTerm" placeholder="Search for Movies"/>
              <span class="input-group-btn">
                <input
                  type="submit" value="Search By Title"
                  class="btn btn-primary"
                  @click="searchMovies(searchTerm)"
                />
              </span>
            </div>
          </form>
        </header>

        <!--
          TODO 2d
          Style this list to look like the demo.
          Use the following classes:
          "list-group", "list-group-item", "btn", "btn-primary"
        -->
        <ul class="list-group">
          <li v-for="movie in browseItems" class="list-group-item">
            <hr />

            <h4>{{ movie.title }}</h4>
            <button class="btn btn-primary"
              @click="addToWatchlist(movie)"
              :disabled="watchlistItems.includes(movie)"
            >
              Add to Watchlist
            </button>

            <p>{{ movie.overview }}</p>
          </li>
        </ul>
      </section>
    </div>
  </div>
  <script src="js/flicklist.js"></script>

</body>
</html>
